<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlogApp Activation</title>
    <style>
        body {
            margin: 0;
            background-color: darkorange;
        }

        h1 {
            text-align: center;
            font-size: 70px;
            color: white;
            font-family: arial;
            text-transform: uppercase;
        }
        p{
            text-align: center;
            font-size: 24px;
            color: white;
            font-weight: bold;
        }
    </style>

</head>
<body>
<h1>Welcome to BlogApp</h1>
<p>
    According to activate your account please click <a href="/api/auth/activate/%s">here</a>
</p>
</body>
</html>